
//- ----------------------------------------------------------------------------
//- utils
//- ----------------------------------------------------------------------------

mixin _proxy(elementTag, id, attrs, elementType, elementClass, attrsExtender, data, content)
  -function defaultExtender() {
  -  if(elementClass) {
  -    return { "class" : elementClass };
  -  } else {
  -    return {};
  -  }
  -}
  -function extAttrs() {
  -  var res = (typeof attrsExtender === "function") ? attrsExtender(elementTag, elementType, elementClass) : {};
  -  return res ? res : {};
  -}
  -var elemSel = id + "::attributes"
  -var insertedAttrs = (data && data[elemSel]) ? data[elemSel] : {}
  -if(elementTag === "input")
    input/(id=id)&attributes(attrs, defaultExtender(), extAttrs(), insertedAttrs)
  -else if(elementTag === "keygen")
    keygen/(id=id)&attributes(attrs, defaultExtender(), extAttrs(), insertedAttrs)
  -else if(content === false)
    #{elementTag}(id=id)&attributes(attrs, defaultExtender(), extAttrs(), insertedAttrs)
  -else if(content)
    #{elementTag}(id=id)&attributes(attrs, defaultExtender(), extAttrs(), insertedAttrs) #{content}
  -else
    #{elementTag}(id=id)&attributes(attrs, defaultExtender(), extAttrs(), insertedAttrs)
      block

mixin _insertHelper(elem, data, suffix, position)
  -var elemSel = elem.id + suffix + position
  -if(data && (elemSel in data))
    -var insertData = data[elemSel]
    -if(insertData instanceof Array)
      -var name = insertData[0], args = insertData.slice(1)
      +#{name}(args[0], args[1], args[2], args[3], args[4], args[5], args[6], args[7], args[8], args[9])
    -else
      | !{insertData}

mixin _BE(elem, data, suffix)
  +_insertHelper(elem, data, suffix, "::before")

mixin _AE(elem, data, suffix)
  +_insertHelper(elem, data, suffix, "::after")


//- ----------------------------------------------------------------------------
//- Form generation
//- ----------------------------------------------------------------------------

mixin _formInputEntry(entry, data, label, type, attrsExtender, isSingleEntry)
  if label
    +_BE(entry, data, "--label")
    +_proxy("label", id=entry.id + "--label", entry.labelAttrs, type, "fgEntryLabel", attrsExtender, data)
      +_BE(entry, data, "")
      +_proxy("input", entry.id, entry.attrs, type, "fgEntry", attrsExtender, data)
      +_AE(entry, data, "")
      +_BE(entry, data, "--name")
      +_proxy("span", entry.id + "--name", entry.additionalAttrs, type, "fgEntryName", attrsExtender, data, label)
      +_AE(entry, data, "--name")
    +_AE(entry, data, "--label")
  else
    +_BE(entry, data, "")
    +_proxy("input", entry.id, entry.attrs, type, "fgField", attrsExtender, data)
    +_AE(entry, data, "")

mixin _formInput(field, data, attrsExtender)
  if field.entrydata
    +_BE(field, data, "")
    +_proxy("div", field.id, field.attrs, field.type, "fgMultiEntry", attrsExtender, data)
      for entry in field.entrydata
        +_formInputEntry(entry, data, entry.label, field.type, attrsExtender)
    +_AE(field, data, "")
  else
    +_formInputEntry(field, data, false, field.type, attrsExtender)

mixin _formSelectRec(field, data, type, attrsExtender)
  for entry in field.entrydata
    if entry.entrydata
      +_proxy("optgroup", entry.id, entry.attrs, type, null, attrsExtender, data)
        +_formSelectRec(entry, data, type, attrsExtender)
    else
      +_proxy("option", entry.id, entry.attrs, type, null, attrsExtender, data, entry.label)

mixin _formSelect(field, data, attrsExtender)
  +_BE(field, data, "")
  +_proxy("select", field.id, field.attrs, field.type, "fgField", attrsExtender, data)
    +_formSelectRec(field, data, field.type, attrsExtender)
  +_AE(field, data, "")

mixin _formTextArea(field, data, attrsExtender)
  +_BE(field, data, "")
  -if(field.content)
    +_proxy("textarea", field.id, field.attrs, field.type, "fgField", attrsExtender, data, field.content)
  -else
    +_proxy("textarea", field.id, field.attrs, field.type, "fgField", attrsExtender, data, false)
  +_AE(field, data, "")

mixin _formDataList(field, data, attrsExtender)
  +_BE(field, data, "")
  +_proxy("input", field.id, field.attrs, field.type, "fgField", attrsExtender, data, false)
  +_proxy("datalist", field.attrs.list, field.additionalAttrs, field.type, null, attrsExtender, data)
    for entry in field.entrydata
      +_proxy("option", null, entry.attrs, field.type, null, attrsExtender, data, false)
  +_AE(field, data, "")

mixin _formButton(field, data, attrsExtender)
  +_BE(field, data, "")
  +_proxy("button", field.id, field.attrs, field.type, "fgField", attrsExtender, data, field.inlineLabel)
  +_AE(field, data, "")

mixin _formTag(field, data, attrsExtender)
  +_BE(field, data, "")
  +_proxy(field.type, field.id, field.attrs, field.type, "fgField", attrsExtender, data, false)
  +_AE(field, data, "")

mixin _formField(field, data, attrsExtender)
  +_BE(field, data, "--wrapper")
  +_proxy("div", field.id + "--wrapper", field.wrapperAttrs, field.type, "fgFieldWrapper", attrsExtender, data)
    if(field.type === "checkboxSingle")
      +_formInputEntry(field, data, field.label, field.type, attrsExtender)
    else
      if field.label
        +_BE(field, data, "--label")
        +_proxy("label", field.id + "--label", field.labelAttrs, field.type, "fgFieldLabel", attrsExtender, data, field.label)
        +_AE(field, data, "--label")
      case field.type
        when "select"
          +_formSelect(field, data, attrsExtender)
        when "textarea"
          +_formTextArea(field, data, attrsExtender)
        when "datalist"
          +_formDataList(field, data, attrsExtender)
        when "button"
          +_formButton(field, data, attrsExtender)
        when "keygen"
        when "output"
          +_formTag(field, data, attrsExtender)
        default
          +_formInput(field, data, attrsExtender)
  +_AE(field, data, "--wrapper")

mixin _fieldSet(fieldset, data, attrsExtender)
  +_BE(fieldset, data, "")
  +_proxy("fieldset", fieldset.id, fieldset.attrs, fieldset.type, null, attrsExtender, data)
    +_proxy("legend", fieldset.id + "--legend", fieldset.labelAttrs, fieldset.type, null, attrsExtender, data, fieldset.label)
    +_fieldRec(fieldset.fields, data, attrsExtender)
  +_AE(fieldset, data, "")

mixin _divSet(divset, data, attrsExtender)
  +_BE(divset, data, "")
  +_proxy("div", divset.id, divset.attrs, divset.type, null, attrsExtender, data)
    +_fieldRec(divset.fields, data, attrsExtender)
  +_AE(divset, data, "")

mixin _fieldRec(fields, data, attrsExtender)
  for field in fields
    case field.type
      when "fieldset"
        +_fieldSet(field, data, attrsExtender)
      when "div"
        +_divSet(field, data, attrsExtender)
      default
        +_formField(field, data, attrsExtender)



//- ----------------------------------------------------------------------------
//- Interface
//- ----------------------------------------------------------------------------

//- form generation interface mixin
mixin Form(formData, data, attrsExtender)
  -function normalise(name) {
  -  if(name[0] === "@") {
  -    return formData.id + name.slice(1);
  -  }
  -  return name;
  -}
  -var nData = {}
  -for(var selector in data) {
  -  if(data.hasOwnProperty(selector)) {
  -    nData[normalise(selector)] = data[selector]
  -  }
  -}
  +_proxy("div", formData.id + "--wrapper", formData.wrapperAttrs, "form", null, attrsExtender, nData)
    +_proxy("iframe", formData.attrs.target, formData.additionalAttrs, "form", null, attrsExtender, nData, false)
    +_BE(formData, nData, "")
    +_proxy("form", formData.id, formData.attrs, "form", null, attrsExtender, nData)
      +_fieldRec(formData.fields, nData, attrsExtender)
    +_AE(formData, nData, "")
